/.RData
/.Rhistory
/096b101cd34c08b79bb0e6aec2b3afb5.jpg
/1.jpg
/1000x600-140819-05.png.webp
/affectnet_train
/app.py
/assets
/Cameras
/catsvdogs.py
/cats_and_dogs.h5
/ckyjX9d7Pss.jpg
/defining_emotions.tflite
/defining_emotions_05_04.h5
/defining_emotions_05_04.tflite
/four students.mp4
/groups.txt
/heart.csv
/human.h5
/human_detection.py
/images
/istockphoto-627798010-612x612.jpg
/kaggle_model.h5
/keras_metadata.pb
/label_list.R
/linear.tflite
/main.py
/model
/model.tflite
/new_model.tflite
/on hands.mp4
/one by one.mp4
/output.jpg
/output.png
/people.mp4
/persons.txt
/photo_2022-12-05_15-07-06.jpg
/photo_2022-12-05_16-25-39.jpg
/pres
/Project 2 - People Counter
/Project 2 - People Counter.zip
/raw.png
/running.mp4
/save.h5
/save.tflite
/save1.h5
/saved_model.pb
/saved_model.pbtxt
/settings.py
/sitting.jpg
/speech_recognition_model.h5
/speech_recognition_model.tflite
/sreen.py
/Students sitting backwards.jpg
/Students sitting.jpg
/test
/train
/two sides.mp4
/validation
/variables
/variables.py
/video2.mp4
/video6.mp4
/wallhaven-2ekqvx.jpg
/wallhaven-96vjx8.jpg
/winequality-red.csv
/Yolo-Weights
/__pycache__
/загруженное.jpg